atproto==0.0.31
Mastodon.py==1.8.1
facebook-business==19.0.0
linkedin-api==2.0.3
instabot==0.117.0
meta-threads-api==0.1.0
python-dotenv==1.0.0
beautifulsoup4==4.12.2
requests==2.31.0
Flask==3.0.2
Werkzeug==3.0.1 